services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile.prod
    command: daphne -b 0.0.0.0 -p 8000 kwispel.asgi:application
    volumes:
      - ./data:/home/app/web/data
      - static_volume:/home/app/web/staticfiles
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - redis
    restart: unless-stopped

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/staticfiles
    ports:
      - 1337:80
    depends_on:
      - web
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    restart: unless-stopped

volumes:
  static_volume:
