services:
  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: daphne -b 0.0.0.0 -p 8000 kwispel.asgi:application
    volumes:
      - ./app/:/usr/src/app/
      - static_volume:/usr/src/app/staticfiles
    expose:
      - 8000
    env_file:
      - ./.env.dev

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - static_volume:/home/app/web/staticfiles
    ports:
      - 8000:80
    depends_on:
      - web

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379

volumes:
  static_volume:
