<!DOCTYPE html>
<html>
  <head>
    {% include "kwis/headerContent.html" %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
        {% if round_list %}
          <table class="table table-condensed table-striped">
            <caption>Overview of all rounds</caption>
            <thead>
              <th>Round</th>
              <th>Progress</th>
            </thead>
            {% for round, status in round_list %}
            <tr>
              <td>
                <a href="{% url 'kwis:rnd_detail' round.id %}">{{ round.round_name }}</a>
              </td>
              <td>
               {{ status }}
              </td>
            </tr>
            {% endfor %}
          </table>

        {% else %}
          <p>No rounds are available.</p>
        {% endif %}
        </div>
    
        <div class="col-sm-6">
        {% if team_list %}
          <table class="table table-condensed table-striped">
          <caption>Overview of all teams</caption>
            <thead>
              <th>Team</th>
              <th>Progress</th>
            </thead>
            {% for team, status in team_list %}
            <tr>
              <td>
                <a href="{% url 'kwis:team_detail' team.id %}">{{ team.team_name }}</a>
              </td>
              <td>
               {{ status }}
              </td>
            </tr>
            {% endfor %}
          </table>

        {% else %}
          <p>No teams are available.</p>
        {% endif %}
        </div>

      </div> <!-- /row -->
      <div class="row">
        <div class="col-sm-6">
          <img class="img-responsive img-rounded center-block" src="rnd_overview.png" />
        </div>
        <div class="col-sm-6">
          <img class="img-responsive img-rounded center-block" src="team_overview.png" />
        </div>
      </div> <!-- /row -->


    <HR>
    Links: <a href="{% url 'kwis:ranking' %}">Ranking</a>, <a href="/admin/">Admin</a>
    </div> <!-- /container -->
  </body>
</html>
