<!DOCTYPE html>
{% load i18n %}
<html>
  <head>
    {% include "kwis/headerContent.html" %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
        {% if round_list %}
          <table class="table table-condensed table-striped">
            <caption>{% trans "Overview of all rounds" %}</caption>
            <thead>
              <th>{% trans "Round" %}</th>
              <th>{% trans "Progress" %}</th>
            </thead>
            {% for round, status in round_list %}
            <tr>
              <td>
                <a href="{% url 'kwis:rnd_detail' round.id %}">{{ round.round_name }}</a>
              </td>
              <td>
               {{ status }}
              </td>
            </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>{% trans "No rounds are available." %}</p>
        {% endif %}
        </div>
    
        <div class="col-sm-6">
        {% if team_list %}
          <table class="table table-condensed table-striped">
          <caption>{% trans "Overview of all teams" %}</caption>
            <thead>
              <th>{% trans "Team" %}</th>
              <th>{% trans "Progress" %}</th>
            </thead>
            {% for team, status in team_list %}
            <tr>
              <td>
                <a href="{% url 'kwis:team_detail' team.id %}">{{ team.team_name }}</a>
              </td>
              <td>
               {{ status }}
              </td>
            </tr>
            {% endfor %}
          </table>
        {% else %}
          <p>{% trans "No teams are available." %}</p>
        {% endif %}
        </div>

      </div> <!-- /row -->
    <HR>
    {% trans "Links:" %} <a href="{% url 'kwis:ranking' %}">{% trans "Ranking" %}</a>, <a href="/admin/">{% trans "Admin" %}</a>
    </div> <!-- /container -->
  </body>
</html>
