<!DOCTYPE html>
<html>
  <head>
    {% include "kwis/headerContent.html" %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% if sorted %}
          <div class="row">
            <table class="table table-condensed table-striped">
              <caption>{{ caption }}</caption>
              <thead>
              <tr>
                <th class="col-sm-2">Place</th>
                <th class="col-sm-6">Team</th>
                <th class="col-sm-2">Score</th>
              </tr>
              </thead>
              {% for result in sorted %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ result.0 }}</td>
                <td>{{ result.1 }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p>No sorted results found.</p>
        {% endif %}

      </div> <!-- /row -->
    <HR>
    Links: <a href="{% url 'kwis:index' %}">Index</a>, <a href="/admin/">Admin</a>
    </div> <!-- /container -->
  </body>
</html>
