<!DOCTYPE html>
{% load i18n %}
<html>
  <head>
{% include "kwis/headerContent.html" %}
    <meta http-equiv="refresh" content="60">
    <style>
      body { font-size: 15px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% if sorted %}
          <div class="row">
            <table class="table table-condensed table-striped">
              <caption>{{ caption }}</caption>
              <thead>
              <tr>
                <th class="col-sm-2">{% trans "Place" %}</th>
                <th class="col-sm-6">{% trans "Team" %}</th>
                <th class="col-sm-2">{% trans "Score" %}</th>
              </tr>
              </thead>
              {% for result in sorted %}
              <tr>
                <td>{{ result.0 }}</td>
                <td>{{ result.1 }}</td>
                <td>{{ result.2 }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p>{% trans "No sorted results found." %}</p>
        {% endif %}

      </div> <!-- /row -->
    <HR>
    {% trans "Links:" %} <a href="{% url 'kwis:index' %}">{% trans "Index" %}</a>, <a href="/admin/">{% trans "Admin" %}</a>
    </div> <!-- /container -->
  </body>
</html>
