<!DOCTYPE html>
{% load i18n %}
<html>
  <head>
    {% include "kwis/headerContent.html" %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>{{ team.team_name }}</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      </div> <!-- /row -->
    
      <div class="row">
        <table class="table table-condensed table-striped">
		<caption>{% trans "Subtotal:" %} {{ subtotal }} / {{ maxtotal }}</caption>
          <thead>
          <tr>
            <th class="col-sm-4">{% trans "Round" %}</th>
            <th class="col-sm-4">{% trans "Score" %}</th>
            <th class="col-sm-4"></th>
          </tr>
          </thead>
          {% for answer in team.qanswer_set.all %}
          <tr>
            <td>
              <a href="{% url 'kwis:rnd_detail' answer.rnd.id %}">{{ answer.rnd.round_name }}</a>
            </td>
            <td>
              <a href="{% url 'kwis:vote' answer.rnd.id answer.team.id %}">{{ answer.score }}</a>
            </td>
            <td>
            </td>
          </tr>
          {% endfor %}
          {% for rnd, form in round_list_todo %}
          <tr>
            <form action="{% url 'kwis:vote' rnd.id team.id %}" method="post">
            {% csrf_token %}
            <td>
              <label><a href="{% url 'kwis:rnd_detail' rnd.id %}">{{ rnd.round_name }}</a></label>
            </td>
            <td>
              {{ form.score }}
            <td>
            <input type="submit" value="Enter" />
            </form>
          </tr>
          {% endfor %}
        </table>
      </div> <!-- /row -->

      <HR>
      {% trans "Links:" %} <a href="{% url 'kwis:index' %}">{% trans "Index" %}</a>,
      <a href="{% url 'kwis:ranking' %}">{% trans "Ranking" %}</a>,
      <a href="/admin/">{% trans "Admin" %}</a>
    </div> <!-- /container -->
  </body>
</html>
