{% extends "master.html" %}
{% load i18n %}

{% block title %}
{% translate "Form" %}
{% endblock %}

{% block content %}
    <div class="uk-container">
        <h1>{{ rnd.round_name }}</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    
      <div class="uk-child-width-1-2@m" uk-grid>
      <div>
        <table class="table table-condensed table-striped">
          <caption>{% translate "Max score this round:" %} {{ rnd.max_score }}</caption>
          <thead>
          <tr>
            <th class="col-sm-4">{% translate "Team" %}</th>
            <th class="col-sm-4">{% translate "Score" %}</th>
            <th class="col-sm-4"></th>
          </tr>
          </thead>
          <tr>
            <form action="{% url 'vote' rnd.id team.id %}" method="post">
            {% csrf_token %}
            <td>
                <label><a href="{% url 'team_detail' team.id %}">{{ team.team_name }}</a></label>
            </td>
            <td>
              {{ form.score.errors }}
              {{ form.score }}
            </td>
            <td>
              <input type="submit" value="Enter" />
            </td>
            </form>
          </tr>
        </table>
      </div>
      </div>
    
      <HR>
      {% translate "Links:" %} <a href="{% url 'index' %}">{% translate "Index" %}</a>,
      <a href="{% url 'ranking' %}">{% translate "Ranking" %}</a>,
      <a href="/admin/">{% translate "Admin" %}</a>
    </div> <!-- /container -->
{% endblock %}
