{% extends "master.html" %}
{% load i18n %}

{% block title %}
{% translate "Kwispel jury overview" %}
{% endblock %}

{% block content %}
    <div class="uk-container">
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>
        {% if round_list %}
          <table class="table table-condensed table-striped">
            <caption>{% translate "Overview of all rounds" %}</caption>
            <thead>
              <th>{% translate "Round" %}</th>
              <th>{% translate "Progress" %}</th>
            </thead>
            {% for round, status in round_list %}
            <tr>
              <td>
                <a href="{% url 'rnd_detail' round.id %}">{{ round.round_name }}</a>
              </td>
              <td>
               {{ status }}
              </td>
            </tr>
            {% endfor %}
          </table>

        {% else %}
          <p>{% translate "No rounds are available." %}</p>
        {% endif %}
        </div>
    
        <div>
        {% if team_list %}
          <table class="table table-condensed table-striped">
          <caption>{% translate "Overview of all teams" %}</caption>
            <thead>
              <th>{% translate "Team" %}</th>
              <th>{% translate "Progress" %}</th>
            </thead>
            {% for team, status, subtot in team_list %}
            <tr>
              <td>
                <a href="{% url 'team_detail' team.id %}">{{ team.team_name }}</a>
              </td>
              <td>
               {{ status }}
              </td>
            </tr>
            {% endfor %}
          </table>

        {% else %}
          <p>{% translate "No teams are available." %}</p>
        {% endif %}
        </div>

        <div>
          <a href="rnd_overview.png"><img class="img-responsive img-rounded center-block" src="rnd_overview.png" /></a>
        </div>
        <div>
          <a href="team_overview.png"><img class="img-responsive img-rounded center-block" src="team_overview.png" /></a>
        </div>
      </div> <!-- /grid -->

    <HR>
    {% translate "Links:" %} <a href="{% url 'ranking' %}">{% translate "Ranking" %}</a>, <a href="/admin/">{% translate "Admin" %}</a>
    </div> <!-- /container -->
{% endblock %}
