{% extends "master.html" %}
{% load i18n %}

{% block title %}
{% translate "Kwispel jury overview" %}
{% endblock %}

{% block content %}

<h1 class="uk-heading-bullet">{% translate "Kwispel jury overview" %}</h1>
<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        {% if round_list %}
        <table class="uk-table uk-table-hover">
            <caption>
                <h3 class="uk-heading-bullet uk-card-title">
                    {% translate "Overview of all rounds" %}
                </h3>
            </caption>
            <thead>
                <th>{% translate "Round" %}</th>
                <th>{% translate "Progress" %}</th>
            </thead>
            {% for round, status in round_list %}
            <tr>
                <td>
                    {% if user.is_authenticated %}
                    <a href="{% url 'rnd_detail' round.id %}">{{ round.round_name }}</a>
                    {% else %}
                    {{ round.round_name }}
                    {% endif %}
                </td>
                <td>
                    {{ status }}
                </td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <h3 class="uk-heading-bullet uk-card-title">
            {% translate "No rounds are available." %}
        </h3>
        {% endif %}
    </div>

    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        {% if team_list %}
        <table class="uk-table uk-table-hover">
            <caption>
                <h3 class="uk-heading-bullet uk-card-title">
                    {% translate "Overview of all teams" %}
                </h3>
            </caption>
            <thead>
                <th>{% translate "Team" %}</th>
                <th>{% translate "Progress" %}</th>
            </thead>
            {% for team, status, subtot in team_list %}
            <tr>
                <td>
                    {% if user.is_authenticated %}
                    <a href="{% url 'team_detail' team.id %}">{{ team.team_name }}</a>
                    {% else %}
                    {{ team.team_name }}
                    {% endif %}
                </td>
                <td>
                    {{ status }}
                </td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <h3 class="uk-heading-bullet uk-card-title">
            {% translate "No teams are available." %}
        </h3>
        {% endif %}
    </div>

    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-heading-bullet uk-card-title">
            {% translate "Progress per round" %}
        </h3>
        <a href="rnd_overview.png"><img class="img-responsive img-rounded center-block" src="rnd_overview.png" /></a>
    </div>
    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-heading-bullet uk-card-title">
            {% translate "Progress per team" %}
        </h3>
        <a href="team_overview.png"><img class="img-responsive img-rounded center-block" src="team_overview.png" /></a>
    </div>
</div> <!-- /grid -->

{% endblock %}
